* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
}
header,
body,
footer {
  min-width: 100%;
}
header,
footer {
  text-align: center;
  color: white;
}
header {
  font-size: 1.8rem;
  font-style: italic;
}
main {
  flex: 1;
}
footer {
  font-size: 1.3rem;
  font-weight: 600;
}
