* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
}
header,
body,
footer {
  min-width: 100%;
}
header,
footer {
  text-align: center;
  color: white;
}
header {
  font-size: 1.8rem;
  font-style: italic;
}
main {
  flex: 1;
}
footer {
  font-size: 1.3rem;
  font-weight: 600;
}

span {
  background: url(heart.webp);
  width: 100px;
  height: 100px;
  pointer-events: none;
  position: absolute;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: heartAnimation 8s linear;
}

@keyframes heartAnimation {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  100% {
    transform: translate(-50%, -10050%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
